

<div class="pr">
    <div class="">
        <div id="leftNavigation" class="leftNavigation">
            <div class="ulContainer">
                <ul class="leftNavigationUl">
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="leftNavigationA">
                            Index
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Users" asp-area="Admin" class="leftNavigationA">
                            Konta użytkowników
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Roles" asp-area="Admin" class="leftNavigationA">
                            Role
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Clients" asp-area="Admin" class="leftNavigationA">
                            Klienci
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Products" asp-area="Admin" class="leftNavigationA">
                            Produkty
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Orders" asp-area="Admin" class="leftNavigationA">
                            Zamówienia
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Marki" asp-area="Admin" class="leftNavigationA">
                            Marki
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Sizes" asp-area="Admin" class="leftNavigationA">
                            Rozmiary
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Colors" asp-area="Admin" class="leftNavigationA">
                            Kolory
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Categories" asp-area="Admin" class="leftNavigationA">
                            Kategorie
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Subcategories" asp-area="Admin" class="leftNavigationA">
                            Subkategorie
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Subsubcategories" asp-area="Admin" class="leftNavigationA">
                            Subsubkategorie
                        </a>
                    </li>
                    <li>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Home" asp-area="" class="leftNavigationA">
                            Wyjście
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>




@*<div class="pr">
        <div class="">
            <div id="leftNavigation" class="leftNavigation">
                <ul class="leftNavigationUl">
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Home" asp-area="Admin" class="leftNavigationA">
                            Index
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Users" asp-area="Admin" class="leftNavigationA">
                            Konta użytkowników
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Roles" asp-area="Admin" class="leftNavigationA">
                            Role
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Clients" asp-area="Admin" class="leftNavigationA">
                            Klienci
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Products" asp-area="Admin" class="leftNavigationA">
                            Produkty
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Orders" asp-area="Admin" class="leftNavigationA">
                            Zamówienia
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Marki" asp-area="Admin" class="leftNavigationA">
                            Marki
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Sizes" asp-area="Admin" class="leftNavigationA">
                            Rozmiary
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Colors" asp-area="Admin" class="leftNavigationA">
                            Kolory
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Categories" asp-area="Admin" class="leftNavigationA">
                            Kategorie
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Subcategories" asp-area="Admin" class="leftNavigationA">
                            Subkategorie
                        </a>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Subsubcategories" asp-area="Admin" class="leftNavigationA">
                            Subsubkategorie
                        </a>
                    </li>
                    <li>
                    </li>
                    <li class="leftNavigationLi">
                        <a asp-action="Index" asp-controller="Home" asp-area="" class="leftNavigationA">
                            Wyjście
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>*@


