 

<div class="w-200px">
    <ul class="leftNavigationUserUl">
        <li>
            <span>Navigacja</span>
        </li>
        <li>
            <a asp-action="Index" asp-controller="Orders" class="newMessage">Historia zamówień</a>
        </li>
        <li>
            <a asp-action="ChangeEmail" asp-controller="Account">Zmień email</a>
        </li>
        <li>
            <a asp-action="ChangePassword" asp-controller="Account">Zmień hasło</a>
        </li>
        <li>
            <a asp-action="Edit" asp-controller="Account">Dane osobowe</a>
        </li>
        <li>
            <a asp-action="Delete" asp-controller="Account">Usuń konto</a>
        </li>
        <li>
            <a asp-action="Index" asp-controller="ReceiveMessages">Wiadomości otrzymane</a>
        </li>
        <li>
            <a asp-action="Logout" asp-controller="Account">Wyloguj</a>
        </li>
    </ul>
</div>