@model EditColorViewModel

    <div class="headerCe">Edytowanie istniejącego koloru</div>

    <form method="post" asp-action="Edit" asp-controller="Colors">
        <input type="hidden" asp-for="@Model.ColorId" value="@Model.ColorId" />

        <div class="db">
            <div class="row">
                <div class="fieldName">
                    <span>Nazwa koloru</span>
                </div>
                <div class="fieldEdit">
                    <input asp-for="Name" />
                    <span asp-validation-for="Name" class="c-red"></span>
                    <span class="c-red">@Model.Result</span>
                </div>
            </div>
        </div>

        <div class="bottom-bar-options">
            <a asp-action="Index" asp-controller="Colors" class="form-button-a">Anuluj</a>
            <input type="submit" value="Zapisz" class="form-button" />
        </div>

    </form> 