 
<div class="centerxy"> 
    <div class="db">
        <h1>Dziękujemy za złożenie zamówienia</h1>
        <h3>Na bieżąco będziemy informować cię o postępie twojego zamówienia</h3>

        <a asp-action="Index" asp-controller="Home" style="padding: 10px; color: white; background-color:deepskyblue; border-radius: 50px; margin: 20px;">
            Przejdź do sklepu
        </a>
    </div>
</div>